@import "tailwindcss";

@theme {
  --color-primary: #ff9933;
  --color-secondary: #00ffff;
  --color-dark: #1a1a1a;
  --color-light: #f0f0f0;
  --font-orbitron: 'Orbitron', 'sans-serif';
}

html, body {
  background-color: transparent;
}